 #textoPrincipal {
            font-size: 40px;
            font-weight: bold;
            color: beige;
            padding: 100px;
            background-color: rgb(58, 161, 161);
            margin-bottom: 50px;
        }